<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sacramentos
            </mat-panel-title>
            <mat-panel-description>
                78 usuarios registrados
                <mat-icon class="ml-3">account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
        </mat-list>

    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Albergue
            </mat-panel-title>
            <mat-panel-description>
                13 usuarios registrados
                <mat-icon class="ml-3">account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
        </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Coro/Canto
            </mat-panel-title>
            <mat-panel-description>
                31 usuarios registrados
                <mat-icon class="ml-3">account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel disabled>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Destination
            </mat-panel-title>
            <mat-panel-description>
                0 usuarios registrados
                <mat-icon class="ml-3">account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>