<div class="pb-6 md:pb-12">
  <div
      class="mx-auto max-w-lg space-y-10 p-4 rounded-lg bg-card text-card-foreground h-full bg-opacity-50 sm:shadow-sm sm:p-6 sm:border">
      <div class="space-y-2 text-center">
          <h1 class="text-3xl font-bold">
              Login Pastoral
          </h1>
          <p class="text-gray-500 dark:text-gray-400">
              Ingresa tu usuario y contraseña
          </p>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
          <!-- USER -->
          <div class="space-y-2">
              <label
                  class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                  for="user">
                  Usuario
              </label>
              <input type="email" formControlName="user"
                  class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:border-amber-300 focus:ring-amber-300 disabled:cursor-not-allowed disabled:opacity-50"
                  id="user" placeholder="juanpastoralunsa@mailtrix.net" maxlength="24"
                  [ngClass]="{'border-red-500': submitted && f['user'].errors}">
              @if (submitted && f['user'].errors) {
              <div class="invalid-feedback tracking-wide text-red-500">
                  @if (f['user'].errors['required']) {
                  <div>El Usuario es obligatorio</div>
                  }                  
                  @else if (f['user'].errors['email']) {
                    <div>El email no cumple con el formato</div>
                    }
              </div>
              }
          </div>

          <!-- PASSWORD -->
          <div class="space-y-2">
              <label
                  class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                  for="password">
                  Contraseña
              </label>
              <input type="password" formControlName="password"
                  class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:border-amber-300 focus:ring-amber-300 disabled:cursor-not-allowed disabled:opacity-50"
                  id="password" placeholder="xxxxxxxxxxxxx" maxlength="16"
                  [ngClass]="{ 'border-red-500': submitted && f['password'].errors }">
              @if (submitted && f['password'].errors) {
              <div class="invalid-feedback tracking-wide text-red-500">
                  @if (f['password'].errors['required']) {
                  <div>El Contraseña es obligatoria</div>
                  }
              </div>
              }
          </div>
          <button mat-fab extended
              class="inline-flex h-12 mt-12 items-center justify-center whitespace-nowrap shadow-md border-2 border-amber-300/100 bg-amber-50 rounded-md text-sm font-medium ring-offset-background transition-colors focus:outline-none focus:ring-1 focus:border-amber-400 focus:ring-amber-400 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground text-gray-700 hover:bg-amber-100 h-10 px-4 py-2 w-full transform active:scale-95 transition-transform"
              type="submit">
              SIGN-IN
          </button>
      </form>
  </div>
</div>