<div class="flex justify-center p-8">
    <img src="../assets/logo_pastoral.webp" class="h-14 md:h-24" />
</div>
<div class="pb-6 md:pb-12 ">
    <div
        class="relative mx-auto max-w-lg p-4 rounded-lg bg-card text-card-foreground h-full bg-opacity-50 sm:shadow-sm sm:p-6 sm:border overflow-y-hidden">
        @if (form.disabled && !successSubmitted){
        <div class="absolute top-0 left-0 w-full ">
            <mat-progress-bar color="accent" mode="query"></mat-progress-bar>
        </div>
        }
        <div class="space-y-2 text-center mb-10">
            <h1 class="text-3xl font-bold">
                Registro de Estudiante
            </h1>
            <p class="text-gray-500 dark:text-gray-400">
                Completa el formulario con los tus datos.
            </p>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
            <div class="grid grid-cols-2 gap-4">

                <!-- FIRST_NAME -->
                <div class="space-y-2">
                    <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="first-name">
                        Nombre
                    </label>
                    <input type="text" formControlName="firstName"
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:border-amber-300 focus:ring-amber-300 disabled:cursor-not-allowed disabled:opacity-50"
                        id="first-name" placeholder="Juan" maxlength="24"
                        [ngClass]="{ 'border-red-500': submitted && f['firstName'].errors }">
                    @if (submitted && f['firstName'].errors) {
                    <div class="invalid-feedback tracking-wide text-red-500">
                        @if (f['firstName'].errors['required']) {
                        <div>El nombre es obligatorio</div>
                        }
                    </div>
                    }
                </div>

                <!-- LAST_NAME -->
                <div class="space-y-2">
                    <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="last-name">
                        Apellidos
                    </label>
                    <input type="text" formControlName="lastName"
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:border-amber-300 focus:ring-amber-300 disabled:cursor-not-allowed disabled:opacity-50"
                        id="last-name" placeholder="Perez" maxlength="32"
                        [ngClass]="{ 'border-red-500': submitted && f['lastName'].errors }">
                    @if (submitted && f['lastName'].errors) {
                    <div class="invalid-feedback tracking-wide text-red-500">
                        @if (f['lastName'].errors['required']) {
                        <div>El apellido es obligatorio</div>
                        }
                    </div>
                    }
                </div>
            </div>

            <!-- PHONE -->
            <div class="space-y-2">
                <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="phone">
                    Nro. de celular
                </label>
                <input type="tel" formControlName="phone"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:border-amber-300 focus:ring-amber-300 disabled:cursor-not-allowed disabled:opacity-50"
                    id="phone" placeholder="9567XXXXX" maxlength="9"
                    [ngClass]="{'border-red-500': submitted && f['phone'].errors}">
                @if (submitted && f['phone'].errors) {
                <div class="invalid-feedback tracking-wide text-red-500">
                    @if (f['phone'].errors['required']) {
                    <div>El Nro. de celular es obligatorio</div>
                    }
                </div>
                }
            </div>

            <!-- DNI -->
            <div class="space-y-2">
                <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="dni">
                    Nro. de DNI
                </label>
                <input type="tel" formControlName="dni"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:border-amber-300 focus:ring-amber-300 disabled:cursor-not-allowed disabled:opacity-50"
                    id="dni" placeholder="9567XXXXX" maxlength="9"
                    [ngClass]="{'border-red-500': submitted && f['dni'].errors}">
                @if (submitted && f['dni'].errors) {
                <div class="invalid-feedback tracking-wide text-red-500">
                    @if (f['dni'].errors['required']) {
                    <div>El Nro. de DNI es obligatorio</div>
                    }
                </div>
                }
            </div>

            <!-- EMAIL -->
            <div class="space-y-2">
                <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="email">
                    Correo Electrónico
                </label>
                <input type="email" formControlName="email"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:border-amber-300 focus:ring-amber-300 disabled:cursor-not-allowed disabled:opacity-50"
                    id="email" placeholder="ejemplo@mailtrix.net" maxlength="32"
                    [ngClass]="{ 'border-red-500': submitted && f['email'].errors }">
                @if (submitted && f['email'].errors) {
                <div class="invalid-feedback tracking-wide text-red-500">
                    @if (f['email'].errors['required']) {
                    <div>El correo electrónico es obligatorio</div>
                    }
                    @else if (f['email'].errors['email']) {
                    <div>El email no cumple con el formato</div>
                    }
                </div>
                }
            </div>

            <!-- PASSWORD -->
            <div class="space-y-2">
                <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="password">
                    Contraseña
                </label>
                <input type="password" formControlName="password"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:border-amber-300 focus:ring-amber-300 disabled:cursor-not-allowed disabled:opacity-50"
                    id="password" placeholder="*******" maxlength="20"
                    [ngClass]="{ 'border-red-500': submitted && f['password'].errors }">
                @if (submitted && f['password'].errors) {
                <div class="invalid-feedback tracking-wide text-red-500">
                    @if (f['password'].errors['required']) {
                    <div>El Nombre de Usuario es obligatorio</div>
                    }
                    @if (f['password'].errors['minlength']) {
                    <div>Password must be at least 6 characters</div>
                    }
                </div>
                }
            </div>

            <!-- CONFIRMPASSWORD -->
            <div class="space-y-2">
                <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="confirmPassword">
                    Confirmar Contraseña
                </label>
                <input type="password" formControlName="confirmPassword"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:border-amber-300 focus:ring-amber-300 disabled:cursor-not-allowed disabled:opacity-50"
                    id="confirmPassword" placeholder="*******" maxlength="20"
                    [ngClass]="{ 'border-red-500': submitted && f['confirmPassword'].errors }">
                @if (submitted && f['confirmPassword'].errors) {
                <div class="invalid-feedback tracking-wide text-red-500">
                    @if (f['confirmPassword'].errors['required']) {
                    <div>El Nombre de Usuario es obligatorio</div>
                    }
                    @if (f['confirmPassword'].errors['matching']) {
                    <div>Confirm Password does not match</div>
                    }
                </div>
                }
            </div>
            <button mat-fab extended
                class="inline-flex h-12 mt-12 items-center justify-center whitespace-nowrap shadow-md border-2 border-amber-300/100 bg-amber-50 rounded-md text-sm font-medium ring-offset-background transition-colors focus:outline-none focus:ring-1 focus:border-amber-400 focus:ring-amber-400 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground text-gray-700 hover:bg-amber-100 h-10 px-4 py-2 w-full transform active:scale-95 transition-transform"
                type="submit" [disabled]="form.disabled">
                REGISTRAR
            </button>
        </form>

    </div>
</div>